{
  "$schema": "https://opencode.ai/config.json",
  "model": "llama-local/unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S",
  "plugin": ["@mohak34/opencode-notifier@latest"],
  "provider": {
    "llama-local": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama.cpp (localhost)",
      "options": {
        "baseURL": "http://127.0.0.1:8080/v1"
      },
      "models": {
        "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S": {
          "name": "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S"
        }
      }
    }{{ if eq .chezmoi.os "darwin" }},
    "llama-utsuho": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama.cpp (utsuho - 192.168.123.100)",
      "options": {
        "baseURL": "http://192.168.123.100:8080/v1"
      },
      "models": {
        "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S": {
          "name": "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S"
        }
      }
    },
    "lmstudio": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LM Studio (local)",
      "options": {
        "baseURL": "http://127.0.0.1:1234/v1",
        "apiKey": "lm-studio"
      },
      "models": {
        "openai/gpt-oss-20b": {
          "name": "GPT-OSS 20b"
        },
        "zai-org/glm-4.7-flash": {
          "name": "GLM-4.7-Flash"
        }
      }
    }{{ end }},
    "openrouter": {
      "options": {
        "baseURL": "https://openrouter.ai/api/v1",
        "apiKey": {{ .opencode.openrouter_api_key | quote }}
      },
      "models": {
        "anthropic/claude-sonnet-4-5": {
          "name": "Claude Sonnet 4.5"
        },
        "anthropic/claude-sonnet-4-5:online": {
          "name": "Claude Sonnet 4.5 (native search)"
        },
        "x-ai/grok-code-fast-1": {
          "name": "Grok Code Fast 1"
        },
        "x-ai/grok-code-fast-1:online": {
          "name": "Grok Code Fast 1 (native search)"
        },
        "deepseek/deepseek-v3.2": {
          "name": "DeepSeek V3.2"
        },
        "deepseek/deepseek-v3.2:online": {
          "name": "DeepSeek V3.2 (Exa search)"
        },
        "qwen/qwen3-coder": {
          "name": "Qwen3 Coder"
        },
        "qwen/qwen3-coder:online": {
          "name": "Qwen3 Coder (Exa search)"
        }
      }
    }
  },
  "mcp": {
    "web-search-mcp": {
      "type": "local",
      "command": ["node", "{{ .chezmoi.homeDir }}/llms/mcp/web-search-mcp/dist/index.js"],
      "enabled": true
    }
  }
}
