{
  "$schema": "https://opencode.ai/config.json",
  "model": "llama-local/unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S",
  "plugin": ["@mohak34/opencode-notifier@latest"],
  "provider": {
    "llama-local": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama.cpp (localhost)",
      "options": {
        "baseURL": "http://127.0.0.1:8080/v1"
      },
      "models": {
        "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S": {
          "name": "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S"
        }
      }
    }{{ if eq .chezmoi.os "darwin" }},
    "llama-utsuho": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama.cpp (utsuho - 192.168.123.100)",
      "options": {
        "baseURL": "http://192.168.123.100:8080/v1"
      },
      "models": {
        "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S": {
          "name": "unsloth-GLM-4.7-Flash-GGUF-UD_Q5_K_S"
        }
      }
    },
    "lmstudio": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LM Studio (local)",
      "options": {
        "baseURL": "http://127.0.0.1:1234/v1",
        "apiKey": "lm-studio"
      },
      "models": {
        "openai/gpt-oss-20b": {
          "name": "GPT-OSS 20b"
        },
        "zai-org/glm-4.7-flash": {
          "name": "GLM-4.7-Flash"
        }
      }
    }{{ end }},
    "openrouter": {
      "models": {
        "x-ai/grok-code-fast-1:online": {}
      }
    }
  },
  "mcp": {
    "web-search-mcp": {
      "type": "local",
      "command": ["node", "{{ .chezmoi.homeDir }}/llms/mcp/web-search-mcp/dist/index.js"],
      "enabled": true
    }
  }
}
