@import "./mocha.css";

* {
    border: none;
    border-radius: 5px;
    font: 16px "JetBrainsMono Nerd Font";
    font-weight: bold;
    color: @text;
    background: rgba(0,0,0,0);
}

window#waybar {
}

.modules-left, .modules-center, .modules-right {
    margin: 0px 5px;
}

#custom-cpu-load.verycritical,
#custom-mem-load.verycritical,
#custom-tempcpu.verycritical,
#custom-tempgpu.verycritical {
    color: @fuckinbadred;
}

#custom-cpu-load.critical,
#custom-mem-load.critical,
#custom-tempcpu.critical,
#custom-tempgpu.critical {
    color: @red;
}

#custom-cpu-load.veryhigh,
#custom-mem-load.veryhigh,
#custom-tempcpu.veryhigh,
#custom-tempgpu.veryhigh {
    color: @maroon;
}
 
#custom-cpu-load.high,
#custom-mem-load.high,
#custom-tempcpu.high,
#custom-tempgpu.high {
    color: @peach;
}

#custom-cpu-load.verywarm,
#custom-mem-load.verywarm,
#custom-tempcpu.verywarm,
#custom-tempgpu.verywarm {
    color: @yellow;
}

#custom-cpu-load.warm,
#custom-mem-load.warm,
#custom-tempcpu.warm,
#custom-tempgpu.warm {
    color: @flamingo;
}

#custom-cpu-load.normal,
#custom-mem-load.normal,
#custom-tempcpu.normal,
#custom-tempgpu.normal {
    color: @text;
}

#window, #custom-cpu-load, #custom-mem-load, #custom-tempgpu, #custom-tempcpu, #pulseaudio, #language, #tray, #clock {
    margin: 0px 5px;
    padding: 0px 5px;
}

#workspaces {
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

window#waybar.empty #window {
    padding: 0px 0px;
}

#language {
    min-width: 20px;
}

/* Workspace button styling */
#workspaces button {
    padding: 0px 10px;
    margin: 0px;
    border-radius: 3px;
}

#workspaces button:hover {
    background: @overlay0;
}

#workspaces button.active {
    background: @surface0;
}

#workspaces button.urgent {
    color: @red;
}

#clock {
    margin: 0px 0px 0px 5px;
}
