* {
    border: none;
    border-radius: 5px;
    font-family: JetBrainsMono Nerd Font;
    color: #ffffff;
}

window#waybar {
    border-radius: 0px;
    background: #303030;
}

.modules-left, .modules-center, .modules-right {
    margin: 0px 5px;
}

#window, #bluetooth, #cpu, #memory, #pulseaudio, #network, #battery, #language, #tray, #clock {
    background: #505050;
    margin: 5px 5px;
    padding: 0px 5px;
}

#workspaces {
    background: #505050;
    margin: 5px 5px;
    padding: 0px;
}

#workspaces button.active {
    background: #303030;
}

window#waybar.empty #window {
    color: #000000;
    padding: 0px 0px;
}

#language {
    min-width: 20px;
}


